*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#153677,#4e08);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: 100px auto 20px;
    padding:40px 30px 70px;
    border-radius:10px ;
}
.todo-app h2{
    text-align: center;
    color: #333;
    margin-bottom:20px ;
    align-items: center;
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom:20px;
    background: #edeef0;
    padding:10px;
    border-radius: 5px;
}
#input-box{
    width:100%;
    padding:10px;
    border: none;
    outline: none;
    font-size:16px;
    border-radius:5px;
    flex: 1;
    font-weight: bold;
}
button#btn{
    border: none;
    outline: none;
    padding: 16px 15px;
    background: rgb(7, 123, 218);
    background-color: rgb(21, 119, 175);
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
}
ul li{
    list-style: none;
    padding: 10px 15px;
    background:#f4f4f4;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li.completed{
    text-decoration:line-through;
    color: #999;
}
ul li:hover button{
    display: block;
}
ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: rgb(21,119,175);
    border-radius: 5px 0 0 5px;

}
ul li.checked{
   color: #555;
   text-decoration: line-through;
}
ul li button{
    border: none;
    outline: none;
    background: transparent;
    color:#ff3333;
    font-size: 18px;
    cursor: pointer;
    display: none;
}
ul li.checked::before{
    background-color: #999;

}
ul li span{
    position:relative;
    right:0px ;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}
ul li span:hover{
 background-color:#fff;
}
    
